= form_for @chainly_config, as: :chainly_config, url: @url do |f|
  .card-body
    .form-group
      %label{for: "platform_fee_rate"} 平台费率x/1000
      = f.text_field(:platform_fee_rate, class: 'form-control', "placeholder": "输入整数")
    .form-group
      %label{for: "promoter_fee_rate"} 推广费率x/1000
      = f.text_field(:promoter_fee_rate, class: 'form-control', "placeholder": "输入整数")
    .form-group
      %label{for: "arbitration_fee_rate"} 仲裁人费率x/1000
      = f.text_field(:arbitration_fee_rate, class: 'form-control', "placeholder": "输入整数")


  .card-footer
    %button.btn.btn-primary{type: "submit"} 提交
    %button.btn.btn-default{type: "reset"} 重置
