= form_for [@admin, @role] do |f|
  .card-body
    .form-group 
      %label{for: "name"} 角色名称
      = f.select(:name, options_for_select([ [Role.role_text('admin'), 'admin'], [Role.role_text('operator'), 'operator']], ''), data: { behavior: 'daterangepicker' }, class: 'form-control')
  .card-footer
    %button.btn.btn-primary{type: "submit"} 提交
    %button.btn.btn-default{type: "reset"} 重置
