= form_for @coin, as: :coin, url: @url do |f|
  .card-body
    .form-group
      %label{for: "price_addr"} 代币合约地址
      = f.text_field(:addr, class: 'form-control', "placeholder": "输入代币合约地址")
 


  .card-footer
    %button.btn.btn-primary{type: "submit"} 提交
    %button.btn.btn-default{type: "reset"} 重置
